html, body {
  height: 100%;
}

#mainHome {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  box-sizing: border-box;
}
#mainHome nav {
  position: fixed;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  z-index: 999;
}
#mainHome nav .navWrap {
  /* min-width: 1170px; */
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  background-color: transparent;
  transition: background-color 0.4s ease;
}
#mainHome nav .navWrap.navAnimate {
  background-color: #fff;
}
#mainHome nav .navWrap .logo {
  width: 150px;
}
#mainHome nav .navWrap .logo img {
  width: 100%;
}
#mainHome nav .navWrap .logo img:last-child {
  display: none;
}

#mainHome nav .navWrap .menuWrap {
  position: relative;
  overflow: hidden;
}
#mainHome nav .navWrap .menuWrap li {
  float: left;
  padding: 5px 24px 0;
}
#mainHome nav .navWrap .menuWrap li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  font-size: 12px;
  /* border-bottom: 1px solid #000; */
}

#mainHome nav .navWrap .phoneNum {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 8px 22px;
  color: #fff;
  font-size: 14px;
}
#mainHome nav .navWrap .phoneNum div {
  width: 16px;
  float: left;
}
#mainHome nav .navWrap .phoneNum div img {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
#mainHome nav .navWrap .phoneNum div img:last-child {
  display: none;
}
#mainHome nav .navWrap .phoneNum span {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  letter-spacing: -0.6px;
}

/* #mainHome > homeWrap > slideWrap */
#mainHome .homeWrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: indianred;
}
#mainHome .homeWrap .slideWrap li {
  max-width: 100%; height: 100%;
}
.imgGroup {
  height: 100%;
}
.imgGroup img {
  max-width: 100%;
}


/*  test section 영역 */
section {
  padding: 200px 0;
  border: 2px solid green;
  box-sizing: border-box;
  text-align: center;
  font-size: 40px;
}