html, body {
  height: 100%;
}
body > div {
  height: 100%;
}



/* ******
  공통 부분
  section, .wrap
****** */
* { box-sizing: border-box; }
section {
  position: relative;
  width: 100%;
  color: #333;
  /* border: 1px solid red; */
}
.wrap {
  position: relative;
  width: 1170px;
  padding: 80px 15px;
  margin: 0 auto;
}

/* ******
  공통 부분
  section
  .titleWrap
****** */
section#about {
  padding: 60px 0;
}
section .titleWrap {
  position: relative;
  width: 100%;
}
section .titleWrap > h1 {
  font-size: 32px;
  color: #232323;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
section .titleWrap > div {
  width: 100px;
  height: 2px;
  background-color: #f7d23d;
  margin: 0 auto;
}
section  .titleWrap > p {
  width: 52%;
  color: #666;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 14px;
  line-height: 160%;
}


/* ******
  nav, main home
****** */
#mainHome {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 50px;
}
#mainHome nav {
  position: fixed;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  z-index: 999;
}
#mainHome nav .navWrap {
  /* min-width: 1170px; */
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  background-color: transparent;
  transition: background-color 0.4s ease;
}
#mainHome nav .navWrap.navAnimate {
  background-color: #fff;
}
#mainHome nav .navWrap .logo {
  width: 150px;
}
#mainHome nav .navWrap .logo img {
  display: block;
  width: 100%;
}
#mainHome nav .navWrap .logo img:last-child {
  display: none;
}
#mainHome nav .navWrap .menuWrap {
  position: relative;
  overflow: hidden;
}
#mainHome nav .navWrap .menuWrap li {
  float: left;
  display: block;
  padding: 5px 24px 0;
}
#mainHome nav .navWrap .menuWrap li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  font-size: 12px;
}
#mainHome nav .navWrap .phoneNum {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 6px 20px;
  color: #fff;
  font-size: 14px;
}
#mainHome nav .navWrap .phoneNum div {
  width: 16px;
  float: left;
}
#mainHome nav .navWrap .phoneNum div img {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
#mainHome nav .navWrap .phoneNum div img:last-child {
  display: none;
}
#mainHome nav .navWrap .phoneNum span {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  letter-spacing: -0.6px;
}


/* slide image */
#mainHome > .homeWrap, #mainHome .slideWrap  {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
#mainHome .homeWrap .slideWrap .imgGroup {
  position: absolute;
  width: 200%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

#mainHome .homeWrap .slideWrap .imgGroup li {
  position: relative;
  width: 50%;
  min-height: 100%;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  color: #fff;
}#mainHome .homeWrap .slideWrap .imgGroup li .transblack {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
}
#mainHome .homeWrap .slideWrap .imgGroup li div.slideText {
  position: relative;
  width: 100%;
  min-width: 800px;
  text-align: center;
  transform: translate(0, 100%);
}
#mainHome .homeWrap .slideWrap .imgGroup li div.slideText span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 300;
  width: 60%;
  min-width: 800px;
  display: block;
  font-size: 16px;
  margin: 0 auto 20px;
  color: #ededed;
}
#mainHome .homeWrap .slideWrap .imgGroup li div h1 {
  min-width: 800px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 14vh;
  font-size: 130px;
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #ededed;
}

.imgGroup li[data-name="slideImg1"] {
  background-image: url(../img/main_visual1.jpg);
}
.imgGroup li[data-name="slideImg2"] {
  background-image: url(../img/main_visual2.jpg);
}

/* slide dot button */
.dotBtn {
  position: absolute;
  width: 100%;
  bottom: 35px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.dotBtn span {
  display: block;
  width: 30px;
  height: 3px;
  float: left;
  margin-right: 10px;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
}
.dotBtn span.active {
  opacity: 1;
}


/* ******
  
  section about

****** */
section#about .contentsWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
section#about .contentsWrap .imgWrap {
  width: 50%;
}
section#about .contentsWrap .imgWrap img {
  display: block;
  width: 50%;
  float: left;
  padding-right: 30px;
}
section#about .contentsWrap .textWrap {
  width: 50%;
  padding: 0 55px;
}
section#about .contentsWrap .textWrap h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #232323;
  letter-spacing: -1px;
  line-height: 1.2;
}
section#about .contentsWrap .textWrap span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.2;
}
section#about .contentsWrap .textWrap p {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  line-height: 1.4;
}


/* ******

    company Profile

****** */


section#companyProfile {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  background-image: url(../img/companyprofile_Bgimg.png);
  background-position: 50% 50%;
  position: relative;
}
section#companyProfile .wrap h1 {
  text-align: center;
  font-size: 32px;
}
section#companyProfile .wrap span {
  display: block;
  text-align: center;
  font-size: 14px;
  text-align: center;
  margin: 30px 0;
  color: #666;
}
section#companyProfile .wrap button {
  display: block;
  text-align: center;
  padding: 10px 14px;
  background-color: #232323;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #232323;
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
section#companyProfile .wrap button:hover {
  border: 2px solid #232323;
  background-color: #fff;
  color: #232323;
}


