#about {
  position: relative;
  width: 100%;
  margin-top: 130px;
}

#about #images .img1, #images .img2 {
  background: none;
}

#about .wrap {
  position: relative;
  margin: 0 auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  /* border: 1px solid red; */
}

#about .titlewrap {
  width: 100%;
  /* border: 1px solid blue; */
}

#about h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #232323;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

#about .line {
  background-color: #f7d23d;
  width: 100px;
  height: 2px;
  margin: 20px auto;
}

#about .titlewrap > p {
  font-size: 22px;
  width: 60%;
  font-size: 16px;
  line-height: 1.6;
  color: #858484;
  font-weight: 400;
  text-align: center;
  margin: 20px auto;
}

#about #images {
  position: relative;
  width: 580px;
  padding-top: 10px;
}

#images > .img1 {
  float: left;
  height: 480px;
  padding-right: 30px;
  padding-top: 20px;
}

#images > .img1 > img {
  width: 260px;
  opacity: 0;
}

#images > .img2 > img {
  width: 260px;
  padding-top: 20px;
  opacity: 0;
}

#about .contentwrap {
  position: relative;
  display: flex;
}

#about #BI {
  width: 580px;
  position: relative;
  padding: 10px;
}

#about #BI > div {
  margin: 0 auto;
  width: 500px;
  padding-top: 30px;
  opacity: 0;
}

#about h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #232323;
  font-weight: 600;
}

#about .ct1 {
  font-size: 20px;
  font-weight: 500;
  color: #696868;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 20px;
}

#about .ct2 {
  font-size: 14px;
  line-height: 1.5;
  color: #666565;
}
