/* 공통 스타일 */

* {
  box-sizing: border-box;
}

header, section, footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  border: 1px solid #aaa; /* 나중에 삭제 */
  text-align: center; /* 나중에 삭제*/
}
div.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  border: 1px solid #a12727; /* 나중에 삭제 */
}