/* 공통 스타일 */

*, html, body {
  box-sizing: border-box;
}
header, section, footer, #home {
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  border: 1px solid #aaa; /* 나중에 삭제 */
  text-align: center; /* 나중에 삭제*/
}
div.container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #a12727; /* 나중에 삭제 */
}